doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Border
    link(href='lib/ionic/css/ionic.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/game.js')
    script(src='js/main.js')
    script(src='js/rock.js')
  body(ng-app='falldown', ng-controller='MainCtrl')
    ion-pane
      ion-header-bar.bar-stable
        h1.title Stuff!
        button.button.button-balanced(ng-click='start()') Start
      ion-content
        h3 Title: {{title}}
        canvas#canvas
